.blue{
    margin-left: 27px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.green{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

